/* shared section */

*{
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* nav section */

nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav-container{
    display: flex;
    align-items: center; 
    max-width: 1400px;
    padding-left: 150px;
}

.nav-logo{
    display: flex;
    width: 50%;
    align-items: center;
}

.nav-logo img{
   height: 50px;
  
   object-fit:fill;
    margin-right: 20px;
}

.nav-logo p{
    font-size: 40px;
    font-weight: 700;
   
}

.G-section{
    color: #FF42A5;
}

.nav-content{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.nav-content a{
    text-decoration: none;
    color:#3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-content-icon{
    margin-right:50px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius:8px;
    padding:16px 20px;
}

.nav-content-icon .fa-brands{
    padding-left:5px;
}

/* banner section */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.banner-content{
    
}

.banner-content h3{
    color:#0B0223;
    font-size: 48px;
    font-weight: 600;
    height:0px;
    padding-left: 40px;
    
}

.banner-content h1{
    font-size: 90px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    
}

.banner-content li{
    list-style: none;
    padding: 10px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.btn-sign-in{
    border-radius: 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color:white;
    padding:20px 40px;
    border:0;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}

.btn-go-rogue{
    border-radius: 40px;
    color:white;
    padding:20px 40px;
    border:0;
    font-size: 20px;
    font-weight: 600;
    background-color: #4EC5F7;
    
}


@media screen and (max-width:576px) {

   .nav-container,  .nav-content{
        flex-direction: column;
    }
    .nav-container{
        padding-top: 20px;
        padding-left: 8px;
    }
    .nav-logo{
            padding-right: 100px;
    }
    .nav-content a{
          padding-bottom: 20px;
    }

    .nav-content-icon{
        margin-left:50px;
        width: 100%;
    }

}

