/* shared section */

*{
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* nav section */

nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav-container{
    display: flex;
    align-items: center; 
    max-width: 1400px;
    padding-left: 150px;
}

.nav-logo{
    display: flex;
    width: 50%;
    align-items: center;
}

.nav-logo img{
   height: 50px;
  
   object-fit:fill;
    margin-right: 20px;
}

.nav-logo p{
    font-size: 40px;
    font-weight: 700;
   
}

.G-section{
    color: #FF42A5;
}

.nav-content{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.nav-content a{
    text-decoration: none;
    color:#3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-content-icon{
    margin-right:50px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius:8px;
    padding:16px 20px;
}

.nav-content-icon .fa-brands{
    padding-left:5px;
}

/* banner section */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.banner-content{
    background: url(images/Group\ 14.png);
    width:800px;
    padding:50px 0px 70px 150px;
}

.banner-content h3{
    color:#0B0223;
    font-size: 48px;
    font-weight: 600;
    height:0px;
    padding-left: 40px;
    
}

.banner-content h1{
    font-size: 90px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    
}

.banner-content li{
    list-style: none;
    padding: 10px;
}

 .p-primary{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-img{
    max-width: 710px;
    
}

.banner-img img{
    width: 600px;
    padding-right: 100px;
}

.btn-sign-in{
    border-radius: 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color:white;
    padding:20px 40px;
    border:0;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 30px;
}

.btn-go-rogue{
    border-radius: 40px;
    color:white;
    padding:20px 40px;
    border:0;
    font-size: 20px;
    font-weight: 600;
    background-color: #4EC5F7;
    
}

/* game section */

.game-content{
    text-align: center;
    margin-top: 100px;
   
}

.game-content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.game-content h2{
    color:#0B0223;
    font-size: 48px;
    font-weight: 700;
   
}

.game-imgs-container {
    display: flex;
    justify-content: space-evenly;
    
}


.game-imgs-container img{
    width: 250px;
    margin-top: 40px;
    
}

/* play section */

.play-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play-content{
    text-align: right;
     
}

.play-content h2{
    font-size: 45px;
    
}

.play-content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    
}

.play-imgs{
    margin-top:150px;
}

.play-imgs img{
    width: 500px;
}

.play-img-2{
    position: relative;
    bottom:190px;
    right:100px;
}

.play-img-2 img{
    width:250px;
    
}

/* icon section */

.icon-container{
     padding: 0px 100px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}


.icon-imgs{
    display: flex;
    align-items: center;
    gap:10px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #fff;
    transition: 1s;
    padding: 10px;
}

.icon-imgs img{
    width: 50px;
}

.icon-imgs:hover{
        border:1px solid #F948B2;
        border-radius: 50px; 
        color: #F948B2;
}

.icon-imgs:hover p{
    color: #F948B2;
}

.icon-imgs p{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}


/* footer section */

.footer-container{
    background-color: #0B0223;
    padding-top: 100px;
}

.footer-container p{
    color:#fff;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo p{
    font-size: 45px;
    font-weight: 700;
    padding-left:10px ;
}

.footer-logo , ul{
    color:#fff;
    list-style: none;
    font-weight: 600;
}

.footer-underlogo-li ,ul{
    display: flex;
    justify-content: center;
    gap:50px;
}

.footer-icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    margin-top: 30px;
    padding-bottom: 70px;
}

.footer-undericons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    font-size: 14px;
    font-weight: 500;
}

.footer-undericons p{
    color: rgba(255, 255, 255, 0.60);
}

.footer-last{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:15px;

}

.footer-last p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.60);
}


  /* responsive section  */

@media screen and (max-width:576px) {

   .nav-container,  .nav-content{
        flex-direction: column;
    }
    .nav-container{
        padding-top: 20px;
        padding-left: 8px;
    }
    .nav-logo{
            padding-right: 100px;
    }
    .nav-content a{
          padding-bottom: 20px;
    }

    .nav-content-icon{
        margin-left:50px;
        width: 100%;
        margin-bottom: 20px;
    }

    .banner-container{
        flex-direction:column-reverse;
        margin-top: 60px;
}

.banner-img img{
    width: 500px;
    padding-left: 90px;
}

.banner-content{
    width: 500px;
    margin-right: 100px;
}

.banner-content h1{
    font-size: 70px;
}

.banner-content h3{
    font-size: 38px;
    text-align: center;
}

.game-content h2{
    font-size:28px;
    padding: 0px 10px;
}

.game-content p{
    font-size: 13px;
}

.game-imgs-container{
    flex-direction: column;
    margin-left: 80px;
}

.play-container{
    flex-direction: column;
}
.play-imgs img{
    width: 250px;
}

.play-imgs .play-img-2{
    width: 100px;
}
  

}
